<launch>
  <node name="under_carriage_4wheel" pkg="harurobo2022" type="under_carriage_4wheel" output="screen" />
  <node name="can_subscriber_node" pkg="harurobo2022" type="can_subscriber_node" output="screen" />
  <node name="emergency_controller" pkg="harurobo2022" type="emergency_controller" output="screen" />
  <node name="manual_commander" pkg="harurobo2022" type="manual_commander" output="screen" />
  <node name="state_manager" pkg="harurobo2022" type="state_manager" output="screen" />
  <node name="joy_node" pkg="joy" type="joy_node" output="screen" />

  <!-- <node name="slcan_bridge" pkg="can_plugins" type="slcan_bridge" output="screen" /> -->

  <!-- can_plaginsからコピペ -->
  <arg name="manager_name" default="nodelet_manager" />
  <arg name="nodelet_mode" default="standalone" /><!-- set to standalone if you want to use as node-->
  <!-- Nodelet Manager -->
  <group if="$(eval nodelet_mode=='load')">
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>
  </group>
  <!-- CAN -->
  <node pkg="nodelet" type="nodelet" name="slcan_bridge" 
  args="$(arg nodelet_mode) can_plugins/SlcanBridge $(arg manager_name)" output="screen"/>
</launch>